@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #C4C4C4;
    flex-direction: column;
}

.container {
    background-color: #fff;
    position: relative;
    width: 60vw;
    height: 80vh;
    display: flex;
    border-radius: 25px;
}

.ctn1 {
    background-color: #484B4D;
    flex: 1;
    width: 60vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px 0 0 25px;
    padding: 12px;
}

.logo {
    margin-right: auto;
    margin-left: 0;
    border-radius: 4px;
    padding: 5px;
    width: 7vw;
    background-color: #484b4d00;
}

.imagC {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 27%;
    border-radius: 4px;
    padding: 5px;
}

.desc {
    background-color: #ffffff00;
    width: 26vw;
    height: 34vh;
    border-radius: 24px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-size: 18px;
    color: #D9E0E6;
}

.ctn2 {
    background-color: #D9E0E6;
    flex: 1;
    width: 60vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 25px 25px 0px;
    padding: 12px;
}

.cadastrar {
    background-color: rgba(226, 78, 78, 0);
    width: 20vw;
    height: 40vh;
}

.info {
    background-color: rgb(255, 255, 255);
    width: 20vw;
    height: 4vh;
    border-radius: 24px;
}

.seta {
    background-color: rgba(226, 78, 78, 0);
    width: 2vw;
    height: 4vh;
}

.prox {
    background-color: rgba(226, 78, 78, 0);
    width: 13vw;
    height: 5vh;
    text-align: center;
    align-items: center;
    font-size: 20px;
}