* {
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #C4C4C4;
    flex-direction: column;
}
.container
{
    background-color: #fff;
    position: relative;
    width: 60vw;
    height: 80vh;
    display: flex;
    border-radius: 25px; 
}
.formulario
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.esquerda
{
    background-color: #D9E0E6;
    flex: 1;
    width: 60vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px 0 0 25px;
    padding: 12px;
}
.logo
{
    margin-right: auto;
    margin-left: 0;
    border-radius: 4px;
    padding: 5px;
    width: 7vw;
}
.acessotxt
{
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}
.acesso
{
    background-color: rgba(255, 255, 255, 0);
    width: 20vw;
    height: 20vh;
    margin-top: 2.5rem;
}
.usutxt
{
    margin-top: 1rem;
    font-size: 20px;
}
label{
    /* margin-top: 1rem; */
    font-size: 20px;
}
input{
    height:35px;
}
.info{
    display:flex;
    flex-direction: column;
    margin-top:1.5rem;
}
/* .info
{
    background-color: rgb(255, 255, 255);
    width: 20vw;
    height: 4vh;
    border-radius: 24px;
    font-size: 20px;
    padding: 6px;
} */
.btacesso
{
    background-color: #ffffff;
    width: 13vw;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
}
.btlogar
{
    background-color: #484B4D;
    width: 13vw;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
    border-style: solid;
    border-color: #484B4D;
    margin-top: 2.3rem;
}
.btlogar:hover
{
    color:black;
    border-color: black;
}
.btacesso a
{
    text-decoration: none;
}
.btcadastro
{
    color: black;
    text-decoration: none;
}
.cadtxt
{
    margin-top: 0.5rem;
    display: flex; justify-content:
    flex-start;
}
.btcadastro:hover
{
    color: #0f238a;
}
.cadastxt
{
    margin-top: 0.5rem;
    display: flex;
    justify-content:
    flex-start;
}
.direita
{
    background-color: #484B4D;
    flex: 1;
    width: 60vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 25px 25px 0px;
    padding: 12px;
}
.imagC
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 4px;
    padding: 5px;
    margin-top: 4rem;
}
.desc
{
    background-color: #ffffff00;
    width: 26vw;
    height: 34vh;
    border-radius: 24px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-size: 18px;
    color: #D9E0E6;
    margin-top: 3rem;
}