@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;600;700&display=swap');
@import url('./input.css');
@import url('./button.css');

/*
Poppins: titulo (font-family: 'Poppins', sans-serif;)
Amiko: subtítulo (font-family: 'Amiko', sans-serif;)
Catamaran: parágrafos (font-family: 'Catamaran', sans-serif;)
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Catamaran', sans-serif;
}

h1, h2,h3{
    font-family: 'Poppins', sans-serif;
}
h4, h5,h6{
    font-family: 'Amiko', sans-serif;
}

/* Alterar para a paleta quando for definida */

:root {
    --purple: #7400b8ff;
    --french-violet: #6930c3ff;
    --slate-blue: #5e60ceff;
    --tufts-blue: #5390d9ff;
    --blue-jeans: #4ea8deff;
    --vivid-sky-blue: #48bfe3ff;
    --sky-blue-crayola: #56cfe1ff;
    --medium-turquoise: #64dfdfff;
    --turquoise: #72efddff;
    --aquamarine: #80ffdbff;

    --light-gray: #d2d2d2;
    --dark-gray: #2d2d2d;
}